@model List<UserModel>
@inject ShoppingContext Context;
@{
    ViewBag.Title = "Danh Sách Bill";
    ViewBag.Page = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var listUser = Context.Users.ToList();
}

<div class="bg-white product-container">
    <div class="d-flex overflow-hidden h-100">
        <div class="product-item d-flex flex-column flex-grow-1">
            <div class="product-item__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Danh Sách Khách Hàng Thân Thiết</div>

            </div>
            <div class="product-item__content">
                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Khách Hàng</th>
                            <th>Tổng Chi Tiêu</th>
                            <th>Điểm Tích Lũy</th>
                            <th>Ngày Tham Gia</th>
                            <th>Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            if (Model.Count != 0)
                            {
                                for (var i = 0; i < Model.Count; i++)
                                {
                                    var user = listUser.FirstOrDefault(u => u.Id == Model[i].Id);
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>
                                            @user.LastName @user.FirstName 
                                        </td>
                                        <td>
                                            @user
                                        </td>
                                        <td>@(i + 1)</td>
                                        <td>21/11/2023</td>
                                        <td>
                                            <div style="display:grid ">
                                                <a asp-controller="Customer" asp-action="RemoveUser" asp-route-id="@user.Id">
                                                    <button>Xóa</button>
                                                </a>
                                                <a>
                                                    <i>Xem chi tiết</i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        }
                        </tbody>
                    </table>
                    @if (Model.Count == 0)
                    {
                        <div class="no-product-notify d-flex justify-content-center h-75 align-items-center" style="font-size: larger; font-family: system-ui;font-style: oblique;">
                            Không Có Khách Hàng Nào !
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
