@model ShoppingWEB.Models.Bill

@{
    ViewBag.Title = "Chi tiết hóa đơn";
    ViewBag.Page = "Bill";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-white product-container">
    <div class="d-flex overflow-hidden h-100">
        <div class="product-item d-flex flex-column flex-grow-1">
            <div class="product-item__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Chi tiết hóa đơn</div>
                <div class="d-flex align-items-center">
                </div>

                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-primary" asp-controller="Bill" asp-action="Index">Quay Lại</a>
                </div>
            </div>
            <div class="product-item__content">
                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Phân loại hàng</th>
                            <td>Size</td>
                            <th>Giá</th>
                            <th>Số Lượng</th>
                            <th>Tổng Tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="bill-item d-flex flex-column">
                            @{
                                var modelBillItem = Model.BillItems.ToList();
                            }
                            @for (var i = 0; i < modelBillItem.Count; i++)
                            {
                                <tr>

                                    <td>@(i+1)</td>
                                    <td >
                                        <a asp-controller="Detail" asp-action="Index" asp-route-id="@modelBillItem[i].TypeProduct.Product.Id">
                                            <div class="image" style="margin-right: 10px;!important;">
                                                <img width="100px" src="@modelBillItem[i].TypeProduct!.ImagePath" class="img-sanpham"/>
                                            </div>
                                        </a>
                                    </td>
                                    @* TODO design datbase contain product price *@
                                    <td> @modelBillItem[i].TypeProduct.Product.ProductName</td>

                                    <td > @modelBillItem[i].TypeProduct.TypeName</td>


                                    <td> @modelBillItem[i].SizeName</td>

                                    <td>@($"{modelBillItem[i].TypeProduct.Product.Price:#,###}")</td>
                                    <td> @modelBillItem[i].Quantity</td>

                                    <td >
                                        <div id="sotientra">@($"{modelBillItem[i].Total:#,###}")</div>
                                    </td>

                                </tr>
                            }

                        </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end p-3 fw-bold">
                        Tổng Tiền: @($"{Model.Total:#,###}")đ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>