@model ShoppingWEB.Models.Bill

@{
    ViewBag.Title = "Chi tiết hóa đơn";
    ViewBag.Page = "Bill";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-white product-container">
    <div class="d-flex overflow-hidden h-100">
        <div class="product-item d-flex flex-column flex-grow-1">
            <div class="product-item__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
                <div class="d-flex align-items-center">Chi tiết hóa đơn</div>
                <div class="d-flex align-items-center">
                </div>

                <div class="d-flex align-items-center gap-2">
                </div>
            </div>
            <div class="product-item__content">
                <div class="bill-item d-flex flex-column">
                    @foreach (var modelBillItem in Model.BillItems)
                    {
                        <div class="o-sanpham1">
                            <input type="checkbox" class="product-checkbox" style="margin-right: 5px;">
                            <a asp-controller="Detail" asp-action="Index" asp-route-id="@modelBillItem.TypeProduct.Product.Id">
                                <div class="image" style="margin-right: 10px;!important;">
                                    <img src="@modelBillItem.TypeProduct!.ImagePath" class="img-sanpham"/>
                                </div>
                            </a>
                            @* TODO design datbase contain product price *@
                            <div class="ten-sanpham">
                                @modelBillItem.TypeProduct.Product.ProductName
                            </div>
                            <div class="phanloai">
                                <div>Phân loại hàng: <span>@Model.TypeProduct.TypeName</span></div>

                                Size: @modelBillItem.SizeName
                            </div>
                        </div>
                        <div class="dongia">
                            <i class="fa-solid fa-dong-sign"></i>
                            <div>@($"{modelBillItem.TypeProduct.Product.Price:#,###}")</div>
                        </div>
                        <div>
                            @modelBillItem.Quantity
                        </div>
                        <div class="sotien-phaitra">
                            <div class="dongia">
                                <i class="fa-solid fa-dong-sign fa-bounce"></i>
                                <div id="sotientra">@($"{@Model.Total:#,###}")</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>