@using Microsoft.AspNetCore.Identity
@inject UserManager<UserModel> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/imgs/shopping-brand.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/layouts/adminlayout.css" asp-append-version="true">
    @(await RenderSectionAsync("Styles", false))
    <title>@ViewBag.Title - Aetherix</title>
</head>
<body>
<div class="d-flex">
    <div class="left-side-layout position-relative">
        <div class="nav-header">
            <div class="nav-header__title text-uppercase fs-1 p-3">
                <div class="d-flex justify-content-center align-items-center">panel</div>
            </div>
        </div>
        <div class="nav-content mt-2">

            @if (ViewBag.Page == "Admin")
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center selected">
                    <div class="nav-item__item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-speedometer2"></i>
                                <div>DashBoard</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute selected-field"></div>
                </div>
            }
            else
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center">
                    <div class="nav-item__item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-speedometer2"></i>
                                <div>DashBoard</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute"></div>
                </div>
            }



            @if (ViewBag.Page == "Category")
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center selected">

                    <div class="nav-item__item">
                        <a asp-controller="Category" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-box-fill"></i>
                                <div>Category</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute selected-field"></div>
                </div>
            }
            else
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center">

                    <div class="nav-item__item">
                        <a asp-controller="Category" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-box-fill"></i>
                                <div>Category</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute"></div>
                </div>
            }




            @if (ViewBag.Page == "Product")
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center selected">

                    <div class="nav-item__item">
                        <a asp-controller="Product" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-inbox-fill"></i>
                                <div>Product</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute selected-field"></div>
                </div>
            }
            else
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center">

                    <div class="nav-item__item">
                        <a asp-controller="Product" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-inbox-fill"></i>
                                <div>Product</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute"></div>
                </div>
            }


            @if (ViewBag.Page == "Bill")
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center selected">
                    <div class="nav-item__item">
                        <a asp-controller="Bill" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-receipt"></i>
                                <div>Bill</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute selected-field"></div>
                </div>
            }
            else
            {
                <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center">
                    <div class="nav-item__item">
                        <a asp-controller="Bill" asp-action="Index" class="text-decoration-none text-white">
                            <div class="d-flex justify-content-start gap-3">
                                <i class="bi bi-receipt"></i>
                                <div>Bill</div>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute"></div>
                </div>
            }
            
            @if (ViewBag.Page == "Customer")
                        {
                            <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center selected">
                                <div class="nav-item__item">
                                    <a asp-controller="Customer" asp-action="Index" class="text-decoration-none text-white">
                                        <div class="d-flex justify-content-start align-items-baseline gap-3">
                                            <i class="fa-solid fa-users"></i>
                                            <div>Customer</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position-absolute selected-field"></div>
                            </div>
                        }
                        else
                        {
                            <div class="fs-5 nav-content__item p-2 position-relative d-flex align-items-center justify-content-center">
                                <div class="nav-item__item">
                                    <a asp-controller="Customer" asp-action="Index" class="text-decoration-none text-white">
                                        <div class="d-flex justify-content-start align-items-baseline gap-3">
                                            <i class="fa-solid fa-users"></i>
                                            <div>Customer</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position-absolute"></div>
                            </div>
                        }
            
        </div>
    </div>
    <div class="right-side w-100 flex-shrink-1 flex-grow-0 position-relative">
        <div class="navbar">
            <div class="navbar-brand h-100 p-0">
                <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                    <img src="~/imgs/shopping-brand.png" height="100%" width="auto" class="text-center" alt="logo-brand">
                    <h2 class="brand-name m-0 pt-2  fw-normal">Aetherix</h2>
                </a>
            </div>
            <div class="user-section">
                <div class="avt d-flex justify-content-center align-items-center gap-3 px-4">
                    <img width="40px" height="40px" class="rounded-circle" src="@user?.AvtPath" alt="">
                    <div class="">@(user?.LastName + " " + user?.FirstName)</div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="p-4">@RenderBody()</div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/admin/category.js" asp-append-version="true"></script>
<script src="~/js/admin/product.js" asp-append-version="true"></script>

@(await RenderSectionAsync("Scripts", false))
</body>
</html>