@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using ShoppingWEB.Controllers
@model List<CartItem>
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "_SecondaryLayout";
    var info = (List<Product>)ViewBag.Info;
    var sellerGroupBy = Model.GroupBy(c => c.TypeProduct.Product!.SellerId);
    double Total_Price_Ship = 0;
    double total_sp = 0;
    double Total_Sps = 0;
    double total_tienhang = 0;
    double total_shop = 0;
    double thanh_toan = 0;
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/actions/StyleCheckout.css" asp-append-version="true">
}

@section Scripts
{
    <script src="~/js/actions/JsCheckout.js" asp-append-version="true"></script>
    <script src="~/js/partials/product_list.js" asp-append-version="true"></script>

}

@section HeaderNav {
    <div class="bg-white">
        <div class="d-flex cart-header container-md">
            <div class="header">
                <div class="navbar-brand">
                    <a asp-controller="Home" asp-action="Index" class="h-100 text-center align-items-center d-flex align-items-center text-decoration-none">
                        <img class="logo" src="/imgs/shopping-brand.png" alt="logo-brand">
                        <h2 class="m-0 pt-2 fw-normal" style="color: #EA3A4A">Aetherix</h2>
                        <div class="divider"></div>
                        <div class="cart1">Thanh Toán</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<section>
<div class="container1">
<div class="diachinhanhang">
    <div class="gachngang"></div>
    <div class="position">
        <div class="position1"><i class="fa-solid fa-location-dot fa-bounce"></i> Địa Chỉ Nhận Hàng</div>
        <div class="position2">
            <b>Tuan (+84) 397374117 </b>
            <div class="position2-1">Số 66b, Nguyễn Sỹ Sách, Phường 15, Quận Tân Bình, TP. Hồ Chí Minh</div>
            <div class="position2-2">Mặc định</div>
            <button id="changeAddressButton">Thay Đổi</button>
        </div>
    </div>
</div>

<div class="main1">
    <table>
        <thead>
        <tr>
            <th class="cot-sanpham">
                <div>Sản phẩm</div>
            </th>
            <th class="cot-dongia">Đơn giá</th>
            <th class="cot-soluong">Số lượng</th>
            <th class="cot-thanhtien">
                <div>Thành tiền</div>
            </th>
        </tr>
        </thead>

        @foreach (var cartItems in sellerGroupBy)
        {
            var listCartItem = cartItems.ToList();
            var seller = listCartItem[0].TypeProduct!.Product!.Seller;
            var countpro = 0;
            double Price_ship = 30000;
            Total_Price_Ship += Price_ship;

            <tbody>
            <tr>
                <td colspan="4" class="shop-name">
                    <div class="tenshop">
                        <img src="/imgs/logomall.png">
                        <div onclick="Erorr()"> @seller.SellerName </div>
                        <button onclick="Erorr()"><i class="fa-brands fa-facebook-messenger"></i> Chat ngay</button>
                    </div>
                </td>
            </tr>
            
            @for (var index = 0; index < listCartItem.Count; index++)
            {
                countpro++;
                var cartItem = listCartItem[index];
                double price = cartItem.TypeProduct.Product.Price ?? 0; // Sử dụng giá trị mặc định là 0 nếu là null
                int quantity = cartItem.Quantity ?? 0; // Sử dụng giá trị mặc định là 0 nếu là null
                total_sp += price * quantity;
                total_tienhang += total_sp;
                <tr>
                    <td class="o-sanpham">
                        <div class="o-sanpham1">
                            <img class="img-sanpham" src="@cartItem.TypeProduct.ImagePath">
                            <div class="ten-sanpham">
                                <div>@cartItem.TypeProduct.Product.ProductName</div>
                            </div>
                            <div style="color: #7d7d7d;font-size: smaller; font-family: inherit;">
                                <div>Màu: @cartItem.TypeProduct.TypeName</div>
                                <div>Size: @cartItem.SizeType</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="sotien-sp1">
                            <i class="fa-solid fa-dong-sign"></i>
                            <div>@($"{cartItem.TypeProduct.Product.Price:#,###}")</div>
                        </div>
                    </td>
                    <td>
                        <div class="soluong">
                            @cartItem.Quantity
                        </div>
                    </td>
                    <td>
                        <div class="sotien-sp2">
                            <i class="fa-solid fa-dong-sign"></i>
                            <div>@($"{total_sp:#,###}")</div> 
                        </div> 
                    </td>
                </tr>
                Total_Sps += total_sp;
                total_sp = 0;
            }
            @{
                total_shop = Total_Sps + Price_ship;
                Total_Sps = 0;
            }
            <tr>
                <td colspan="4">
                    <div class="yeucau-hoadon">
                        <div class="text-hoadon">
                            <div>Hóa đơn điện tử</div>
                            <i class="fa-regular fa-circle-question"></i>
                        </div>
                        <div class="text-yeucaungay" onclick="YeuCau()">Yêu Cầu Ngay</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="ship" colspan="4">
                    <div class="ship-main">
                        <div class="loinhan">
                            <span>Lời nhắn: </span>
                            <div>
                                <input type="text" placeholder="Lưu ý cho Người bán...">
                            </div>
                        </div>
                        <div class="vanchuyen">
                            <div class="vanchuyen1">
                                <div class="vanchuyen1-1">Đơn vị vận chuyển</div>
                                <div>
                                    <div>Nhanh</div>
                                    <div class="time-nhanhang">Nhận hàng vào 10 Th10 - 12 Th10</div>
                                </div>
                                <div>
                                    <button onclick="Erorr_ship()">THAY ĐỔI</button>
                                </div>
                                <div class="tien-ship" style="display: flex;align-items: center">
                                    <i class="fa-solid fa-dong-sign"></i>
                                    <div id="ship-price">30,000</div>
                                </div>
                            </div>
                            <div class="vanchuyen2">
                                <div>Không đồng kiểm.</div>
                                <i class="fa-regular fa-circle-question"></i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="tongsotien">
                        <div class="text">Tổng số tiền(@countpro sản phẩm)</div>
                        <div class="sotien" style="display: flex;align-items: center">
                            <i class="fa-solid fa-dong-sign"></i>
                            <div id="total-price">
                                @($"{total_shop:#,###}")
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            total_shop = 0;
        }
        @{
            thanh_toan = total_tienhang + Total_Price_Ship;  //Tong tien Thanh Toan cuoi cung
        }

    </table>
</div>

<div class="shoppe-voucher-xu">
    <div class="shoppe-vocher">
        <div class="shoppe-vocher1">
            <img src="/imgs/logovoucher.png">
            <div>Shopee Voucher</div>
        </div>
        <div>
            <button onclick="Erorr()">Chọn Voucher</button>
        </div>
    </div>
    <div class="shoppe-xu">
        <div class="shoppe-xu1">
            <img src="/imgs/logodongtien.png">
            <div class="shoppe-xu1-1">SHOPEE XU</div>
            <div class="shoppe-xu1-2">Không thể chọn xu</div>
        </div>
        <div class="shoppe-xu2">
            <div>[-₫0]</div>
            <input type="checkbox">
        </div>
    </div>
</div>

<div>
    <div class="cac-thanhtoan">
        <div class="cac-thanhtoan1">
            <div class="text-thanhtoan">Phương Thức Thanh Toán</div>
            <div class="cac-checkout">
                <span>
                    <button class="button-checkout1">Apple Pay</button>
                </span>
                <span>
                    <button class="button-checkout" onclick="selectAddress(this)" >Ví ShopeePay</button>
                </span>
                <span>
                    <button class="button-checkout1">Thẻ Tín dụng/Ghi nợ</button>
                </span>
                <span>
                    <button class="button-checkout" onclick="selectAddress(this)">Thanh toán khi nhận hàng</button>
                </span>
                <span>
                    <button class="button-checkout" onclick="selectAddress(this)">Chuyển khoản ngân hàng</button>
                </span>
                <span>
                    <button class="button-checkout" onclick="selectAddress(this)">Momo</button>
                </span>
            </div>
        </div>
        <div></div>
    </div>
    <div class="dat-hang">
        <div class="dichvu">
            <div class="dat-hang1">
                <h4>Tổng tiền hàng</h4>
                <div>
                    <i class="fa-solid fa-dong-sign"></i>
                    @($"{total_tienhang:#,###}")
                </div>
            </div>
            <div class="dat-hang1">
                <h4>Phí vận chuyển</h4>
                <div>
                    <i class="fa-solid fa-dong-sign"></i>
                    @($"{Total_Price_Ship:#,###}")
                </div>
            </div>
            <div class="dat-hang2">
                <h4>Tổng thanh toán:</h4>
                <div>
                    <i class="fa-solid fa-dong-sign"></i>
                    @($"{thanh_toan:#,###}")
                </div>
            </div>
        </div>
        <div class="dieukhoan">
            <div class="text-dieukhoan">
                Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo
                <a href="#" onclick="Erorr()">Điều khoản Shopee</a> và
                <a href="#" onclick="Erorr()">Điều khoản và Điều kiện</a> của hợp đồng Bảo hiểm
            </div>
            <div class="button-dathang">
                <form asp-controller="Checkout" asp-action="CheckOut" method="post">
                    @for (var index = 0; index < Model.Count; index++)
                    {
                        var cartItem = Model[index];
                        <input type="hidden" name="cartItemID[@index]" value="@cartItem.Id"/>
                    }
                    <button id="btnThanhToan" class="button-thantoan" onclick="thanhToan()">Đặt Hàng</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<!-- Form nhập thông tin địa chỉ mới mới -->
<div class="div-form" id="changeAddressForm">
    <div class="div-form1">
        <div class="div-form2">
            <div class="text-diachi-form">Địa chỉ mới</div>
            <form>
                <div class="form-div">
                    <div>
                        <input type="text" id="newName" name="newName" placeholder="Họ Và Tên" required>
                        <div class="input-error" id="nameError">Vui lòng nhập lại tên!</div>

                        <input type="text" id="newPhoneNumber" name="newPhoneNumber" placeholder="Số điện thoại" required>
                        <div class="input-error" id="phoneNumberError">Vui lòng nhập lại số điện thoại!</div>

                        <input type="text" id="newAddress" name="newAddress" placeholder="Tỉnh/Thành phố, Quận/Huyện, Phường/Xã" required>
                        <div class="input-error" id="addressError">Vui lòng nhập lại địa chỉ mới!</div>

                        <div>
                            <div class="loai-dc">Loại địa chỉ: </div>
                            <div class="chon-dc">
                                <div class="o-nharieng" onclick="selectAddress(this)">
                                    <span>Nhà Riêng</span>
                                </div>
                                <div class="o-vanphong" onclick="selectAddress(this)">
                                    <span>Văn Phòng</span>
                                </div>
                            </div>
                        </div>
                        <div class="dc-macdinh">
                            <input type="checkbox">
                            <div>Đặt làm địa chỉ mặt định</div>
                        </div>
                    </div>
                    <div class="footer-form">
                        <button type="button" id="cancelButton">Trở lại</button>
                        <button type="button" id="saveAddressButton">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
