@using Microsoft.EntityFrameworkCore
@model Product
@inject ShoppingContext ShoppingContext

@{
    ViewBag.Title = "Chỉnh Sửa Sản Phẩm";
    ViewBag.Page = "Product";
    Layout = "_AdminLayout";
    var categoryList = await ShoppingContext.Categories.ToListAsync();
    var imagePath = "";
    imagePath = Model.ImageUrls.FirstOrDefault(p => p.Thumbnail == true)!.ImagePath;
    var typeList = Model.TypeProducts.ToList();

}

<div class="bg-white main-container">
<form enctype="multipart/form-data" asp-action="Edit" method="post">
<div class="d-flex overflow-hidden">
<div class="item d-flex flex-column flex-grow-1">
<div class="main-container__header d-flex p-3 w-100  flex-grow-1 justify-content-between px-5">
    <div class="d-flex align-items-center">Sửa Sản Phẩm</div>
    <div class="d-flex align-items-center gap-3">
        <a class="btn btn-primary" asp-action="Index">Quay Lại</a>
        <button class="btn btn-success submit-edit" type="submit">Lưu</button>
    </div>
</div>
<div class="main-container__main p-3">
<div class="d-flex">
<div class="row p-2 flex-grow-1">
<div class="col-6 mt-2">
    <div class="fw-bold">
        @Html.DisplayNameFor(p => p.ProductName)
    </div>
    <div class="">
        <input asp-for="ProductName" class="form-control"/>
    </div>
</div>
<div class="col-6 mt-2">
    <div class="fw-bold">
        Chọn ảnh
    </div>
    <div class="">
        <input type="file" name="Thumbnail" accept="image/jpeg, image/png, image/jpg, image/bmp" class="form-control" id="imageFile">
    </div>

</div>
<div class="col-12">
    <div class="fw-bold">
        @Html.DisplayNameFor(p => p.ShortDescription)
    </div>
    <div class="">
        <input asp-for="ShortDescription" class="form-control"/>
    </div>
</div>
<div class="col-6 mt-2">
    <div class="fw-bold mt-2">
        @Html.DisplayNameFor(p => p.Price)
    </div>
    <div class="">
        <input asp-for="Price" class="form-control"/>
    </div>
    <div class="fw-bold mt-2">
        @Html.DisplayNameFor(p => p.DiscountPercent)
    </div>
    <div class="">
        <input asp-for="DiscountPercent" class="form-control"/>
    </div>

    <div></div>
    <div class="fw-bold mt-2">
        @Html.DisplayNameFor(p => p.Publish)
    </div>
    <div class="">
        <select asp-for="Publish" class="form-select">
            <option value="1">Công khai</option>
            <option value="0">Không công khai</option>
        </select>
    </div>
    <div class="fw-bold mt-2">
        @Html.DisplayNameFor(p => p.CategoryId)
    </div>
    <div class="">
        <select asp-for="CategoryId" class="form-select">
            @foreach (var category in categoryList)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
    </div>
</div>
<div class="col-6 mt-2 d-flex flex-column">
    <div class="fw-bold mt-2">
        @Html.DisplayNameFor(p => p.LongDescription)
    </div>
    <div class="h-100">
        <textarea asp-for="LongDescription" style="-webkit-user-drag: none;resize: none" class="form-control h-100"></textarea>
    </div>
</div>
<div class="col-6">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="fw-bold mt-2 col-6">
            <label class="form-label">Size</label>
        </div>
        <div class="col-4 d-flex justify-content-end mt-2">
            <div class="btn btn btn-outline-success btn-show__size">
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div class="product-type-size__form d-none popup-form position-absolute">
            <div class="size-form__header p-2">
                <div class="text-uppercase fw-bold">
                    Thêm size sản phẩm
                </div>
            </div>
            <div class="size-form__main p-2">
                <div class="">
                    <label class="form-label">Size</label>
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="size-form__action p-2">
                <div class="d-flex justify-content-end gap-3">
                    <div class="btn btn-primary btn-close__popup">Hủy</div>
                    <div class="btn btn-success btn-add__size">Tạo</div>
                </div>
            </div>
        </div>

        <div class="product-type-list__size d-flex flex-wrap gap-3">
            @foreach (var size in Model.TypeProducts.ToList()[0].Sizes)
            {
                <div class="size__item">
                    <div class="position-relative">
                        <div class="btn btn-outline-primary">
                            @size.SizeType
                        </div>
                        <span class="delete__size d-flex justify-content-center align-items-center position-absolute
                             top-0 start-100 translate-middle badge rounded-circle bg-danger"
                              id="@size.SizeType">
                            <i class="bi bi-x-lg"></i>
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-6">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="fw-bold mt-2 col-6">
            <label class="form-label">Loại Sản Phẩm</label>
        </div>
        <div class="col-4 d-flex justify-content-end mt-2">
            <div class="btn btn btn-outline-success btn-show__type">
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div class="product-type__form d-none popup-form position-absolute">
            <div class="type-form__header p-2">
                <div class="text-uppercase fw-bold">
                    Thêm loại sản phẩm
                </div>
            </div>
            <div class="type-form__main p-2">
                <div class="">
                    <label class="form-label">Tên Loại</label>
                    <input class="form-control" type="text">
                    <label class="form-label">Thêm Ảnh</label>
                    <input class="form-control" accept="image/png, image/jpeg, image/bmp, image/jpg, image/svg" type="file">
                </div>
            </div>
            <div class="type-form__action p-2">
                <div class="d-flex justify-content-end gap-3">
                    <div class="btn btn-primary btn-close__popup">Hủy</div>
                    <div class="btn btn-success btn-add__type">Tạo</div>
                </div>
            </div>
        </div>
        <div class="product-type-list d-flex flex-wrap gap-3">
            @foreach (var modelTypeProduct in Model.TypeProducts)
            {
                <div class="type__item">
                    <div class="position-relative">
                        <div class="btn showQuantity btn-outline-primary" id="@modelTypeProduct.Id">
                            @modelTypeProduct.TypeName
                        </div>
                        <span class="delete__type d-flex justify-content-center align-items-center position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                            <i class="bi bi-x-lg"></i>
                        </span>
                    </div>
                </div>
            }
        </div>

        <div class="product-quantity-form__list d-none position-absolute">
            @for (var i = 0; i < typeList.Count; i++)
            {
                <div class="product-quantity__form d-none popup-form position-absolute" id="@typeList[i].Id">
                    <div class="quantity-form__header p-2">
                        <div class="text-uppercase fw-bold">
                            Thêm số lượng sản phẩm
                        </div>
                    </div>
                    <div class="quantity-form__main p-2">
                        <div class="row">
                            <div>
                                <label class="form-label fw-bold fs-5">
                                    @typeList[i].TypeName
                                </label>
                                <input value="@typeList[i].TypeName" class="form-control" name="TypeProducts[@i].TypeName" type="hidden">
                            </div>
                            <div>
                                <label class="form-label">Chọn ảnh</label>
                                <input type="file" accept="image/png,image/jpeg,image/jpg,image/svg" class="form-control" name="@typeList[i].ImageFile"/>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6 fw-bold">Size</div>
                            <div class="col-6 fw-bold">Số Lượng</div>
                            @{
                                var sizeList = typeList[i].Sizes.ToList();
                                for (var i1 = 0; i1 < sizeList.Count; i1++)
                                {
                                    <div class="col-6 mt-2 @sizeList[i1].SizeType">
                                        @sizeList[i1].SizeType
                                        <input type="hidden" name="TypeProducts[@i].Sizes[@i1].SizeType" value="@sizeList[i1].SizeType"/>

                                    </div>
                                    <div class="col-6 @sizeList[i1].SizeType">
                                        <input class="form-control" name="TypeProducts[@i].Sizes[@i1].Quantity" value="@sizeList[i1].Quantity">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="quantity-form__action p-2">
                        <div class="d-flex justify-content-end gap-3">
                            <div class="btn btn-primary btn-close__popup">Hủy</div>
                            <div class="btn btn-success btn-save__quantity">Lưu</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="mt-2">
    <div class="d-flex row justify-content-between">
        <div class="col-6">
            <div class="form-label fw-bold">Thêm Danh Sách Ảnh</div>
            <div>
                <input name="ImageFile" class="form-control" type="file" multiple="multiple" accept="image/png, image/svg, image/jpeg, image/jpg"/>
            </div>
        </div>
        <div class="col-12 row image-list mt-3">
            @foreach (var imageUrl in Model.ImageUrls.Where(i => i.Thumbnail == false).ToList())
            {
                <div class="position-relative col-2 mt-2">
                    <img src="@imageUrl.ImagePath" class="w-100" alt="anh san pham"/>
                    <span class="delete__image d-flex justify-content-center align-items-center position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                        <i class="bi bi-x-lg"></i>
                    </span>
                </div>
            }
        </div>
    </div>
</div>
</div>
<div class="img-preview">
    <img src="@(imagePath == "" ? "/imgs/404-bg.png" : imagePath)" width="300px" id="display-img" alt="Ảnh">
</div>
</div>
</div>
</div>
</div>
</form>
</div>