@using System.Globalization
@model IEnumerable<Product>
@inject ApplicationDbContext _Context;

@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";

}

<h1>Danh sách sản phẩm</h1>


<p>
    <a class="btn btn-success" asp-action="Create">Tạo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr style="vertical-align: middle">
            <td>
                <div data-bs-toggle="title" title="@item.ProductName">@(item.ProductName!.Length >= 20 ? item.ProductName.Substring(0, 20) + "..." : item.ProductName)</div>
            </td>
            <td>
                @{
                    var info = CultureInfo.GetCultureInfo("vi-VN");
                    var currency = string.Format(info, "{0:C0}", item.Price);
                }
                @currency

            </td>
            <td>
                @($"{item.DiscountPercent}%")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @(item.Published == 1 ? "True" : "False")
            </td>
            <td>
                @Html.DisplayFor(modelItem => _Context.Categories.Find(item.CategoryId)!.CategoryName)
            </td>
            <td>
                @($"{item.CreatedAt:d}")
            </td>
            <td>
                @($"{item.UpdatedAt:d}")
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                <a class="btn btn-danger" asp-controller="Image" asp-action="Index" asp-route-product="@item.Id">Sửa ảnh</a>
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>